{% extends "base.html" %}
{% load static %}
{% block title %} About{% endblock title %}


{% block hero %} 
<!--  hero  -->
<section id="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="content">
                    <h2>About Us</h2>
                    <p class='mt-4'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo distinctio temporibus quos et
                        ex, modi consectetur mollitia incidunt officia dolor?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end hero -->
{% endblock hero %}


{% block about %}
    <!--  about us  -->
    <section id="aboutUs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-wraffer">
                        <h2>About Us</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur commodi repudiandae
                            neque dolor sunt nesciunt, quidem illo impedit quas aut saepe eaque .</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, magni dolor.</p>
                        <a href="/" class="btn cta aboutBtn">Our works</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-imgBox">
                        <img src="{% static './images/about_1.jpg' %}" alt="about">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-wraffer">
                        <h2>our expertise and skill</h2>
                    </div>
                   
                    <div class="progress-area">
                        <div class="skill-progress">
                            <div class="d-flex justify-content-between">
                                <h2>Writting</h2>
                                 <h2>75%</h2>
                            </div>
                            <div class="progress">
                                 <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-progress">
                            <div class="d-flex justify-content-between">
                                <h2>Bootstrap</h2>
                                 <h2>50%</h2>
                            </div>
                            <div class="progress">
                                 <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-progress">
                            <div class="d-flex justify-content-between">
                                <h2>wordpress</h2>
                                 <h2>80%</h2>
                            </div>
                            <div class="progress">
                                 <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-progress">
                            <div class="d-flex justify-content-between">
                                <h2>jquery</h2>
                                 <h2>70%</h2>
                            </div>
                            <div class="progress">
                                 <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  end about us  -->
{% endblock about %}

{% block team %}
 <!--  team  -->
    <section id="team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="section-header">
                        <h2 class="section-title">Our Team</h2>
                    </div>
                </div>
            </div>

              <div class="row justify-content-center splide mt-5">
                <div class="splide__track">
                    <div class="splide__list">

                 {% for team in teams %}
                    <div class="single splide__slide">
                        <div class="imgBox text-center">
                            <img src={{team.image.url}} alt="img">
                        </div>
                        <p class="text">{{team.desc}}</p>
                        <strong class="d-inline-block">— {{team.name}}</strong>
                        <span class="d-block text-muted tag-text">{{team.occupation}}</span>
                    </div>
                {% endfor %}
                </div>
                </div>
            </div>


        </div>
    </section>


    <script>
    document.addEventListener('DOMContentLoaded',() => {
        new Splide('.splide',{
            perPage: 3,
            rewind : true,
            padding: {
                left : '15',
                right: '15rem',
            },
            breakpoints: {
                700: {
                    perPage: 1,
                }
            },
            pagination:false,
            arrows:false,
            autoplay:true
            
        }).mount();
    });
    </script>

 <!--  end team  -->
{% endblock team %}

{% block counter %}
<!--  counter  -->
<section id="counter" class='bg-white'>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-counter d-flex">
                    <div class="counter-icone-box">
                       <svg xmlns="http://www.w3.org/2000/svg" width="35"  viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.508 13.941c-1.513 1.195-3.174 1.931-5.507 1.931-2.335 0-3.996-.736-5.509-1.931l-.492.493c1.127 1.72 3.2 3.566 6.001 3.566 2.8 0 4.872-1.846 5.999-3.566l-.492-.493zm.492-3.939l-.755.506s-.503-.948-1.746-.948c-1.207 0-1.745.948-1.745.948l-.754-.506c.281-.748 1.205-2.002 2.499-2.002 1.295 0 2.218 1.254 2.501 2.002zm-7 0l-.755.506s-.503-.948-1.746-.948c-1.207 0-1.745.948-1.745.948l-.754-.506c.281-.748 1.205-2.002 2.499-2.002 1.295 0 2.218 1.254 2.501 2.002z"/></svg>
                    </div>
                    <div class="count">
                        <h2>83</h2>
                        <h2>happy clients</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-counter d-flex">
                    <div class="counter-icone-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35"  viewBox="0 0 24 24"><path d="M14.884 10c-.439 5.493-1.803 9.418-3.087 12h-4.592c-1.692-3.396-2.728-7.419-3.09-12h10.769zm2.116-2h-15c.258 7.569 2.143 12.68 4 16h7c1.812-3.219 3.745-8.496 4-16zm1.088 2c-.051.688-.115 1.355-.192 2h1.707c-.51 1.822-1.246 3.331-2.539 4.677-.283 1.173-.601 2.25-.939 3.229 3.261-2.167 5.556-6.389 5.875-9.906h-3.912zm-7.714-3.001c4.737-4.27-.98-4.044.117-6.999-3.783 3.817 1.409 3.902-.117 6.999zm-2.78.001c3.154-2.825-.664-3.102.087-5.099-2.642 2.787.95 2.859-.087 5.099z"/></svg>
                    </div>
                    <div class="count">
                        <h2>3892</h2>
                        <h2>Cup of Coffe</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-counter d-flex">
                    <div class="counter-icone-box">
                       <svg xmlns="http://www.w3.org/2000/svg" width="35" viewBox="0 0 24 24"><path d="M24 10.935v2.131l-8 3.947v-2.23l5.64-2.783-5.64-2.79v-2.223l8 3.948zm-16 3.848l-5.64-2.783 5.64-2.79v-2.223l-8 3.948v2.131l8 3.947v-2.23zm7.047-10.783h-2.078l-4.011 16h2.073l4.016-16z"/></svg>
                    </div>
                    <div class="count">
                        <h2>3,923,892</h2>
                        <h2>Lines of code</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-counter d-flex">
                    <div class="counter-icone-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" viewBox="0 0 24 24"><path d="M0 18v2h24v-2h-24zm13.781 1.27h-3.531c-.138 0-.25-.112-.25-.25s.112-.25.25-.25h3.531c.138 0 .25.112.25.25 0 .137-.112.25-.25.25zm8.219-2.27v-13h-20v13h20zm-2-11v9h-16v-9h16z"/></svg>
                    </div>
                    <div class="count">
                        <h2>3892</h2>
                        <h2>Project Finish</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  end counter  -->
{% endblock counter %}

{% block studio %}
<!--  studio  -->
    <section id="studio" class='bg-grey'>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="section-header">
                        <h2 class="section-title">See Our studio</h2>
                    </div>
                </div>

                <div class="col-md-8 text-center">
                    <div class="watch-video">
                        <div class="icone">
                            <svg fill='#fff' width="30" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23 12l-22 12v-24l22 12zm-21 10.315l18.912-10.315-18.912-10.315v20.63z"/></svg>
                        </div>
                        <a href="https://youtu.be/FA8tl0fsYdI" class="video"><img src="{% static './images/img_1.jpg' %}" alt="watch-our-studio-video"></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
<!--  end studio  --> 
{% endblock studio %}

